<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--  引入 properties 文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--    配置SqlSessionFactoryBean，整合 Mybatis -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--    装配数据源    -->
        <property name="dataSource" ref="dataSource"/>

        <!--    配置数据库分页插件-->
        <property name="plugins">
            <array>
                <!--   配置PageHelper插件-->
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <props>
                            <!-- 配置数据库方言，告诉PageHelper当前使用的数据库语言-->
                            <prop key="dialect">mysql</prop>
                            <!-- 配置页码合理化修正，1~总页码之间的修正页码-->
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>


        <!--   指定mybatis-config 全局配置文件位置     -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>

        <!--    指定mapper.xml 目录    -->
        <property name="mapperLocations" value="classpath:com/crowd/mappers/*Mapper.xml"/>

    </bean>

    <!-- 配置 MapperScannerConfigurer扫描 mapper所在包   -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--    指定mapper接口所在包    -->
        <property name="basePackage" value="com.crowd.mappers"/>
    </bean>


</beans>

















